#game_over {
    width: 350px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 1px solid black;
    position: absolute;
    top: 200px;
    left: 80px;
    text-align: center;
    display: none;
}

.pontuacao {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    font-family: verdana;
    justify-content: space-between;
    font-size: 1.5rem;
    width: 500px;
}